AI4RESEARCH_NOCO_BASE_URL=http://your-nocodb-host:8080/api/v1/db/data/v1/your-project/
AI4RESEARCH_NOCO_TOKEN=your-nocodb-token
AI4RESEARCH_SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1/
AI4RESEARCH_SILICONFLOW_API_KEY=sk-your-siliconflow-key
AI4RESEARCH_FIRECRAWL_BASE_URL=https://api.firecrawl.dev/v1/
AI4RESEARCH_FIRECRAWL_API_KEY=fc-your-firecrawl-key
