*.iml
.gradle
.gradle-user/
.kotlin/
.claude/
.docker_rpms/
.rehearsal_transfer/
.tmp/
.tmp_android/
.tmp_paramiko/
.tools/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/.name
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/markdown.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.android-home/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
